.navbar{
    display: flex;
    background-color: #6a994e;
    height: 75px;
}
.navContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.searchBar{
    width: 100%;
    height: 50px;
    background-color:rgba(192,192,192,0.4);
    border: none;
    color: #ffffff;
    margin: 0px 10px;
    padding: 10px;

}

.searchIcon i{
    color: #ffffff;
    width: 10%;
    margin: 10px;
    
}

.searchIcon i:hover{
  color: #386641;

  
}

.centerWrapper{
  display: flex;
  justify-content: center; 
  margin: 10px;
}

.centerVertical{
  display: flex;
  align-items: center;
}



.rndMeal{
  width: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F2E8CF;
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  max-width: 90vw;


}

.rndMeal img{
  width: 70%
}
.rndMeal h2{
  margin: 10px;
  width: 100%;
}

.rndMeal i {
  color: #386641;
}

.rndMeal div div{
  width: 100%;
  text-align: center;
}



.rndMealLabel{
  display: block;
  position: absolute;
  background-color: #BC4749;
  color: #ffffff;
  padding: 10px;
  border-radius: 0px 7px 7px 0px;
  margin-top: 15px;
}

#star{
  background-color: #386641;
  margin-top: 70px
}

#star:hover{
  color: orange;
}

#newMeal{
  background-color: #A7C957;
  margin-top: 125px
}

#newMeal:hover{
  color: #386641;
}




.favIcon{
  background-color: #A7C957;
  display: flex;
  padding: 10px;
  margin: 20px 20%;

}
.favIcon img{
  width: 80px;
  margin: 10px;
}

.favIcon h2{
  color: #ffffff;
  padding: 10px;
  font-size: 1.5rem;
  
}

.favIcon a{
  color: #BC4749;
  text-decoration: none;
  font-size: 2rem;
  margin-left: auto;
  margin-right: 10px;

}

.favIcon div{
  display: flex;
  align-items: center;
  width: 100%;

}


.recipe{

  overflow-wrap: break-word;

}
.recipe img{
  margin: 10px;
  max-width: 100vw;
  max-height: 40vh;
}

.recipe h1{
  text-align: center;
}

.recipe a{
  text-decoration: none;
  color: #386641;
}


.recipeDetails{
  margin: 5px;
  padding: 0px 40px 40px 40px;

}

.recipeSummary{
  margin: 20px;
  background-color: #A7C957;
  color: #ffffff;
  border-radius: 20px;
  padding: 20px;
}

.recipeSummary img{
  width: 50px;
}

#searchResults {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

#searchResults li{
  margin: 10px;
}

.searchResultItem{
  display: flex;
  background-color: #dfe8ca;
  padding: 20px;
  border-radius: 10px;
  width: 100px;
}

.searchResultItem h2{
  margin: 10px;
}

.searchResultItem img{
  width: 100px;
  height: 100px;
}

.resultsDiv{
  display: flexbox;
}
  






::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
  }